<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startup.notespace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notespace_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_notespace_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOTESPACE">
        <activity
            android:name="com.startup.notespace.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.startup.notespace.DeleteAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.ViewDocumentActivityPost"
            android:exported="false" />
        <activity
            android:name="com.startup.notespace.DocumentPostsActivityOther"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.SignUpVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupProfileOther"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.startup.notespace.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.startup.notespace.RequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.DocumentPostsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.NotesActivityOther"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.NoteDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.NotesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MyLibrary3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.FollowersListActivityOther"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.FollowingListActivityOther"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.FollowersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.FollowingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.AllChatsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.Library2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.Library3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MyLibrary2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MyLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.startup.notespace.ViewDocumentActivity"
            android:exported="false" />
        <activity
            android:name="com.startup.notespace.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupLibrary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.Library1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.LibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupProfileEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.GroupProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.OtherUsersProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.SavedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MyLibrary1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MakePostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.YourNotesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.CreateNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.CreateOnlineNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.startup.notespace.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>