<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.notespace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--        android:fullBackupContent="@xml/backup_rules"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.NOTESPACE"-->
<!--        tools:targetApi="31">-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--    </application>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notespace_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOTESPACE">
        <activity
            android:name=".ViewDocumentActivityPost"
            android:exported="false" />
        <activity
            android:name=".DocumentPostsActivityOther"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SignUpVerification"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupProfileOther"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".RequestsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DocumentPostsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NotesActivityOther"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NoteDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NotesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MyLibrary3"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PostDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupMembersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FollowersListActivityOther"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FollowingListActivityOther"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FollowersListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FollowingListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AllChatsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Library2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Library3"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MyLibrary2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MyLibraryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupLibrary"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Library1"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LibraryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupProfileEditActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".OtherUsersProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SavedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MyLibrary1"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MakePostActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".YourNotesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateNoteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateOnlineNoteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>